table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*height: 50vh; */
}
th {
  text-align: left;
}

td {
  border-bottom: 1px solid black;
}
.d-flex {
  display: flex;
}
.border-radius {
  border-radius: 5px;
}
.container-table {
  justify-content: center;
  -webkit-box-shadow: 6px 5px 28px -7px #000000;
  box-shadow: 6px 5px 28px -7px #000000;
}

.container-form {
  flex-direction: column;
  gap: 5px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-extra {
  flex-direction: column;
  justify-content: start;
}
input[type="text"] {
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

input[type="text"]:focus {
  color: #007bff;
  transition: 0.5s;
  border-color: #007bff;
  border-bottom: 1px solid #007bff;
}

input[type="text"]:focus::placeholder {
  position: absolute;
  transition: 0.5s;
  color: #007bff;
}

input[type="button"] {
  border: none;
  outline: none;
}
input[type="button"]:hover {
  background-color: gray;
}

input[type="button"]:active {
  background-color: #007bff;
}

th > img,
td > img {
  width: 1em;
  height: 1em;
}

td > img {
  display: flex;
  justify-content: center;
}
